html {

    font-family: "Montserrat", sans-serif;
    }
    
    
    
    body {
        background-color: #e3e8e8;
        text-align: center;
        padding-bottom: 15px;
        display: block;
        margin: 0px;
    }
    
    .logo {
    
        padding-bottom: 15px;
    }
    
    h1 {
        color: #011521;
    }
    
    h2 {
        color: #011521;
    }
    
    h3 {
        color: #011521;
    }

    p {
        color: #011521;
    }
    
    a {
        color: #011521;
    }